.add-item-input {

    input {
        margin: 0 25px 10px 0;
        border-radius: 7px;
        padding: 5px 10px;

        &[type="number"] {
            -webkit-appearance: textfield;
            appearance: textfield;
        }

        &[type="number"]::-webkit-outer-spin-button,
        &[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    &__name {
        border: none;
        width: 280px;
        text-transform: capitalize;
    }

    &__quantity {
        border: none;
        width: 30px;
        text-align: center;
    }

    &__remove {
        background-color: white;
        border: none;
        border-radius: 100%;
        margin-left: 5px;
        height: 25px;
        width: 25px;
        color: red;
        font-weight: 500;
        cursor: pointer;
    }
}