.loads-report {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    &__summary {
        width: 600px;
        border: 1px solid black;
        border-radius: 7px;
        background-color: #D9D9D9;
        border: none;
    }

    &__summary-query {
        padding: 15px;
    }

    &__summary-results {
        padding: 15px 25px 0 25px;
    }

    &__summary-actions {
        display: flex;
        justify-content: flex-end;
        padding: 10px 25px;
        margin-bottom: 5px;
    }

    &__border-divider {
        border-top: 2px solid #9A8E8E;
    }
}