.load-entry-form {
    background-color: #D9D9D9;
    border-radius: 7px;
    margin-right: 5px;
    padding: 15px 0;
    width: 500px;

    &__items {
        &-header {
            display: grid;
            grid-template-columns: 4fr 1fr 1fr;
            margin-bottom: 7px;

            &-remove {
                width: 100%;
                text-align: center;
            }
        }

        &-entry {
            border-bottom: 3px dotted #4b4b7c;
            border-top: 3px dotted #4b4b7c;
            padding: 20px;
            margin-top: 7px;
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin: 15px 15px 0 0;
        gap: 25px;
    }

    &__hidden {
        display: none;
    }
}
