.app {
    &__main {
        display: flex;
        position: relative;
        top: 100px;

        &-content {
            width: 100%;
            overflow-y: scroll;
            position: relative;
            margin-left: 100px;
        }
    }
}
