.nav {
    font-family: "Times New Roman", Times, serif;
    margin: 10px 0 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    letter-spacing: 1.5px;

    &__title {
        font-weight: 500;
        font-size: 22px;
    }

    &__links {
        display: flex;
        gap: 20px;
    }

    &__link {
        text-decoration: none;
        color: #227398;
        font-weight: 500;

        &--active {
            font-weight: bold;
            text-decoration: dotted underline;
            font-size: 20px;
        }
    }
}
